.button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color: #242424;
  color: #fff;
  font-size: 1rem;
}

@media (hover: hover) {
  .button:hover {
    background-color: #f2131a;
  }
}
