* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-color: #b7f0f4;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
